<mat-card>
  <mat-card-title>
    Search for conferences by year
  </mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Year</mat-label>
      <mat-select [(value)]="year">
        <mat-option *ngFor="let year of years" [value]="year">
          {{year.getUTCFullYear()}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>
    Search for conferences by topic
  </mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Topic</mat-label>
      <input matInput placeholder="Topic" [(ngModel)]="topic" #ctrl="ngModel">
    </mat-form-field>
    <div class="form__field">
      <button mat-button (click)="loadConferences($event)">Go</button>
    </div>
  </mat-card-content>
</mat-card>
<div *ngIf="conferences" >
  <mat-card *ngFor="let conference of conferences.conferences">
    <mat-card-title>
      {{conference.name}}
    </mat-card-title>
    <mat-card-content>
      <div>
        <span>Time: {{conference.from}} - {{conference.to}}</span>
      </div>
      <div>
        <button routerLink="/talk/{{conference.uuid}}" mat-menu-item>
          <mat-icon>record_voice_over</mat-icon>
          <span>To Talks</span>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>