<div class="menu">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button routerLink="/conferences" mat-menu-item>
      <mat-icon>people</mat-icon>
      <span>Conferences</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>person</mat-icon>
      <span>Speaker</span>
    </button>
    <button routerLink="/talks" mat-menu-item>
      <mat-icon>record_voice_over</mat-icon>
      <span>Talks</span>
    </button>
  </mat-menu>
</div>